<div ng-show="loaded">
	<div>
		<h1>
			{{artist.name}}
			<small>
				{{artist.gender}}
				{{artist.type}}
				<span ng-show="artist.origin">from </span>{{artist.origin}}
			</small>
			<div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-song-dropdown dropdown-toggle"
          data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-song" role="menu">
          <li role="presentation"><a href="#/artist/edit/{{artist._id}}">Edit artist</a></li>
        </ul>
      </div>
		</h1>
	</div>
	<table class="table" ng-repeat="album in albums | orderBy : 'release' : true">
		<tr>
			<td class="td-img">
				<img src="/{{album._id}}.jpg" class="img-rounded img-album">
			</td>
			<td>
				<h3>
					{{album.title}}
					<small>
						{{album.type}}
					</small>
				</h3>
				<h4>
					<small>
						by
					</small>
					<span ng-repeat="artist in album.artists">
						<a href="#/artist/{{artists[artist]._id}}">{{artists[artist].name}}</a><span ng-hide="$last">,</span>
					</span>
				</h4>
				<table class="table table-hover" ng-repeat="disc in album.discs track by $index" ng-show="disc !== null">
					<th ng-show="album.discs.length > 2">
						Disc {{$index}}
					</th>
					<tr ng-repeat="track in disc.tracks track by $index">
						<td ng-show="track !== null">
							<div class="song-desc">
								<span class="song-desc-title">
									<span class="song-track">{{$index}}</span>
									{{songs[track].title}}
								</span>
								<span class="pull-right song-desc-right">
									<span ng-repeat="chart in songs[track].charts">
										<rank-badge rank="chart" />
									</span>
									<span class="badge badge-plays" ng-show="{{songs[track].plays}}">{{songs[track].plays}}</span>
								</span>
							</div>
							<div ng-show="{{showArtistArray (track, album)}}">
								<span class="song-track"></span>
								<small>by</small>
								<span ng-repeat="artist in songs[track].artists">
									<a href="#/artist/{{artists[artist]._id}}">{{artists[artist].name}}</a><span ng-hide="$last">,</span>
								</span>
							</div>
							<div ng-show="{{songs[track].features.length}}">
								<span class="song-track"></span>
								<small>feat.</small>
								<span ng-repeat="artist in songs[track].features">
									<a href="#/artist/{{artists[artist]._id}}">{{artists[artist].name}}</a><span ng-hide="$last">,</span>
								</span>
							</div>
						</td>
					</tr>	
				</table>
			</td>
		</tr>
	</table>
</div>
