<h1>
		<span>{{chart | capitalize}} Chart</span>
</h1>
<h2>
	<form class="form-inline">
		<small>
			<div class="form-group">
				<label>Week of</label>
				<input type="date" class="form-control" ng-model="date"></input>
			</div>
			<button class="btn btn-default" ng-click="go()">Go</button>
			<button class="btn btn-default" ng-click="prev()">Prev</button>
			<button class="btn btn-default" ng-click="next()">Next</button>
			<button class="btn btn-default" ng-click="fetch()">Fetch</button>
			<button class="btn btn-default" ng-click="match()">Match</button>
			<button class="btn btn-default pull-right" ng-click="history()">History</button>
		</small>
	</form>
</h2>
<table class="table table-hover">
	<tr>
		<th>
			Pos
		</th>
		<th>
			LW
		</th>
		<th>
			Single
		</th>
		<th>
		</th>
		<th>
			Songs
		</th>
		<th>
			Peak
		</th>
		<th>
			WoC
		</th>
		<th>
		</th>
	</tr>
	<tr ng-repeat="row in rows">
		<td>
			<span>{{row.rank.cur}}</span>
		</td>
		<td>
			<span><last-week rank="row.rank" /></span>
		</td>
		<td>
			<div>{{row.title}}</div>
			<div>{{row.artist}}</div>
		</td>
		<td>
			<img src="/{{row.album}}.40px.jpg" class="img-rounded">
		</td>
		<td>
			<table ng-show="row.songs">
				<tr>
					<td ng-repeat="song in row.songs">
						<div><b>{{song.title}}</b><span ng-hide="$last">/</span></div>
						<div ng-show="$first">
						</div>
					</td>
				</tr>
			</table>
			<div ng-repeat="song in row.songs">
				<span ng-show="$first">
					<span ng-repeat="artist in song.artists">
						<a href="#/artist/{{artist._id}}">{{artist.name}}</a><span ng-hide="$last">,</span>
					</span>
					<span ng-show="song.features">feat.</span>
					<span ng-repeat="artist in song.features">
						<a href="#/artist/{{artist._id}}">{{artist.name}}</a><span ng-hide="$last">,</span>
					</span>
				</span>
			<div>
		</td>
		<td>
			<span>{{row.rank.min}}</span>
		</td>
		<td>
			<span>{{row.rank.run}}</span>
		</td>
		<td>
			<button class="btn btn-default" ng-click="edit(row)">Edit</button>
		</td>
	</tr>
</table>
