<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Chart Watch 2.0</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Single Charts <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#/chart/current">Current</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/chart/single/uk">토: Official UK</a></li>
					<li><a href="#/chart/single/francais">토: Francais</a></li>
					<li><a href="#/chart/single/deutsche">토: Deutsche</a></li>
					<li><a href="#/chart/single/melon">월: 멜론</a></li>
					<li><a href="#/chart/single/oricon">화: オリコン</a></li>
					<li><a href="#/chart/single/billboard">수: Billboards</a></li>
					<li><a href="#/chart/single/gaon">목: 가온</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/chart/ones">Number 1's</a></li>
					<li><a href="#/chart/missing/1">Missing 1's</a></li>
					<li><a href="#/chart/missing">Missing Songs</a></li>
				</ul>
				</li>
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Misc <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
					<form action="/upload" enctype="multipart/form-data" method="post">
						<input type="file" name="file" multiple="multiple">
						<input type="submit" value="Upload">
					</form>
					</li>
					<li role="separator" class="divider"></li>
					<li><a href="#/blank">Blank</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="clean">Clean</a></li>
				</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
